.header-stats__num {
  font-family: 'Aldrich-Regular', sans-serif;
  font-weight: 400;
}

.header-stats__num span {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

.header__title {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

.btn, .title, .menu__link, .card__price {
  font-family: 'Orbitron-Bold', sans-serif;
  font-weight: 700;
}

.card__title {
  font-family: 'Rajdhani-Bold', sans-serif;
  font-weight: 700;
}

.card__author, .card__desc, .card__timer-title, .card__timer-time p, .card__btn {
  font-family: 'Rajdhani-SemiBold', sans-serif;
  font-weight: 600;
}

.card__timer-time p span {
  font-family: 'Rajdhani-Medium', sans-serif;
  font-weight: 500;
}

.header__text, .card__price span {
  font-family: 'Rajdhani-Regular', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'Aldrich-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Aldrich-Regular"), url("../fonts/Aldrich-Regular.woff2") format("woff2"), url("../fonts/Aldrich-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: local("Inter-ExtraBold"), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'MuseoModerno-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("MuseoModerno-Regular"), url("../fonts/MuseoModerno-Regular.woff2") format("woff2"), url("../fonts/MuseoModerno-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Orbitron-Bold"), url("../fonts/Orbitron-Bold.woff2") format("woff2"), url("../fonts/Orbitron-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Rajdhani-Bold"), url("../fonts/Rajdhani-Bold.woff2") format("woff2"), url("../fonts/Rajdhani-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("Rajdhani-Medium"), url("../fonts/Rajdhani-Medium.woff2") format("woff2"), url("../fonts/Rajdhani-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("RajdhaniRegular"), url("../fonts/Rajdhani-Regular.woff2") format("woff2"), url("../fonts/Rajdhani-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("Rajdhani-SemiBold"), url("../fonts/Rajdhani-SemiBold.woff2") format("woff2"), url("../fonts/Rajdhani-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

body {
  background-image: url(../img/body-bg.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 100%;
}

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}

.card {
  background: -webkit-gradient(linear, left top, right top, color-stop(-1.52%, rgba(255, 255, 255, 0.1)), color-stop(104.35%, rgba(255, 255, 255, 0.024)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 10px;
  border: 4px solid #ffffff33;
}

.title {
  font-size: 27px;
  line-height: 33px;
  color: #fff;
}

.header {
  padding-bottom: 110px;
}

.header__inner {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 100px;
}

.header__title {
  font-size: 66px;
  line-height: 91px;
  color: #fff;
  max-width: 850px;
  margin-bottom: 20px;
}

.header__title span {
  background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__text {
  font-size: 27px;
  line-height: 44px;
  color: #fff;
  max-width: 660px;
  margin-bottom: 40px;
}

.header__btn--explore {
  background-image: url("../img/btn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 22px 92px 22px 70px;
  margin-bottom: 70px;
  display: inline-block;
  width: 252px;
  height: 68px;
  position: relative;
  margin-right: 38px;
}

.header__btn--explore::after {
  content: '';
  position: absolute;
  background-image: url(../img/arrow-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  width: 52px;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
}

.header__btn--transparent {
  background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}

.header__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__brand {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__brand + .header__brand {
  margin-left: 135px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF99;
}

.menu__item + .menu__item {
  margin-left: 66px;
}

.menu__link {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__link:hover {
  color: #fff;
}

.user-nav__link + .user-nav__link {
  margin-left: 45px;
}

.header-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-stats__num {
  font-size: 40px;
  line-height: 53px;
  color: #fff;
  position: relative;
}

.header-stats__num:not(:last-child) {
  padding-right: 15px;
}

.header-stats__num:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 64px;
  background-color: #ffffff26;
  top: 0;
  right: 0;
}

.header-stats__num span {
  display: block;
  font-size: 18px;
  line-height: 22px;
}

.header-stats__num + .header-stats__num {
  padding-left: 40px;
}

.swiper {
  max-width: 500px;
}

.slider__img {
  max-width: 400px;
  padding: 0 10px;
}

.card-slider {
  -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0% 30%);
          clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0% 30%);
  max-width: 340px;
  margin-top: -110px;
  margin-left: auto;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px 20px 25px;
  color: #fff;
}

.card__title {
  font-size: 18px;
  line-height: 35px;
}

.card__author {
  font-size: 16px;
  line-height: 35px;
  padding-left: 35px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 10px;
}

.card__author::before {
  content: '';
  position: absolute;
  background-image: url(../img/user-icon/user-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 29px;
  height: 29px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__author::after {
  content: '';
  position: absolute;
  background-image: url(../img/checked.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__desc {
  font-size: 11px;
  line-height: 35px;
  color: #ffffff80;
}

.card__price {
  padding-left: 15px;
  font-size: 10px;
  line-height: 12px;
  position: relative;
}

.card__price span {
  font-size: 11px;
  line-height: 35px;
  color: #ffffff80;
  margin-left: 5px;
}

.card__price::before {
  content: '';
  position: absolute;
  background-image: url(../img/eth.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 11px;
  height: 18px;
  left: 0;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.card__timer-title {
  font-size: 11px;
  line-height: 35px;
}

.card__timer-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__timer-time p {
  font-size: 18px;
  line-height: 23px;
}

.card__timer-time p span {
  display: block;
  font-size: 11px;
  color: #FFFFFF80;
  margin-bottom: 20px;
}

.card__btn {
  font-size: 18px;
  line-height: 23px;
  padding: 7px 40px 7px 10px;
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  display: block;
  position: relative;
}

.card__btn::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 10px;
  background-image: url(../img/arrow-medium.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.card__border-gradient {
  border-radius: 4px;
  border: 2px solid transparent;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%) padding-box, linear-gradient(to right, #3C79D4, #FFA6FA) border-box;
}

.nft {
  padding-top: 110px;
  padding-bottom: 80px;
}

.nft__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
  color: #fff;
}

.nft__btn {
  font-size: 26px;
  line-height: 33px;
  padding-right: 52px;
  position: relative;
}

.nft__btn::after {
  content: '';
  position: absolute;
  width: 52px;
  height: 27px;
  background-image: url(../img/arrow-medium.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nft__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.nft-card {
  max-width: 440px;
  width: 100%;
}

.nft-card__text {
  border-radius: 0;
}
/*# sourceMappingURL=style.css.map */