@font-face {
    font-family: 'Aldrich-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Aldrich-Regular'),
        url('../fonts/Aldrich-Regular.woff2') format('woff2'),
        url('../fonts/Aldrich-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: local('Inter-ExtraBold'),
        url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Lato-Bold'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Lato-Regular'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('MuseoModerno-Regular'),
        url('../fonts/MuseoModerno-Regular.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Orbiton-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Orbiton-Bold'),
        url('../fonts/Orbiton-Bold.woff2') format('woff2'),
        url('../fonts/Orbiton-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Rajdhani-Bold'),
        url('../fonts/Rajdhani-Bold.woff2') format('woff2'),
        url('../fonts/Rajdhani-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Rajdhani-Medium'),
        url('../fonts/Rajdhani-Medium.woff2') format('woff2'),
        url('../fonts/Rajdhani-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('RajdhaniRegular'),
        url('../fonts/Rajdhani-Regular.woff2') format('woff2'),
        url('../fonts/Rajdhani-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Rajdhani-SemiBold'),
        url('../fonts/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../fonts/Rajdhani-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
}