body {
  background-image: url(../img/body-bg.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
}

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-size: 20px;
  line-height: 25px;
  @extend %orbitron-700;
  color: #fff;
}

.card {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  border: 3px solid #ffffff33;
}


.title {
  font-size: 27px;
  line-height: 33px;
  @extend %orbitron-700;
  color: #fff;
}

.mobile-btn {
  display: none;
  @extend %orbitron-700;
  margin: 30px auto 0;
		text-align: center;
		position: relative;
		background-image: url(../img/mobile-btn.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 141px;
		padding: 11px 45px 13px 20px;
		position: relative;
		font-size: 12px;
		line-height: 15px;
		&::after {
			content: '';
			position: absolute;
			width: 25px;
			height: 10px;
			background-image: url(../img/arrow-medium.png);
			background-repeat: no-repeat;
			background-size: cover;
			top: 40%;
			transform: translateY(-40%);
		}
}
