@media (max-width: 1250px) {
	.collection {
		&__inner {
			flex-direction: column;
		}
	}
	.subscribe {
		&__inner {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__img-box {
			margin-top: 100px;
			order: 2;
			img {
				width: 100%;
			}
		}
	}
	.form {
		text-align: center;
		&__fieldset {
			justify-content: center;
		}
	}
}

@media (max-width: 1060px) {
    .header {
			&__hero {
				justify-content: center;
			}
			&__content {
				max-width: 100%;
        
			}
			&__text {
				max-width: 100%;
			}
			&-stats {
				justify-content: center;
			}
			&__img {
				order: 2;
			}
			&__brands {
				flex-wrap: wrap;
				justify-content: space-evenly;
    		gap: 20px;
			}
    }
}

@media (max-width: 992px) {
	.logo {
		z-index: 2;
	}
	.card-header {
		margin-right: auto;
	}
	.menu {
		overflow-x: hidden;
		&__btn {
			display: block;
    		background-color: transparent;
    		border: none;
    		padding: 0;
    		position: relative;
    		z-index: 2;
			cursor: pointer;
		}
		&__list {
			padding-top: 210px;
		}
		&__item {
			padding-bottom: 30px;
		}
		&__item + &__item {
			margin-left: 0;
		}
		&__link {
			display: block;
		}
	}
	.menu__list,
	.user-nav {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: block;
		text-align: center;
		background-color: #000;
		transform: translateY(-200%);
		transition: all 0.5s linear;
	}
	.user-nav {
		overflow-x: hidden;
		padding-top: 100px;
		&__link {
			display: block;
			margin-bottom: 30px;
		}
		&__link + &__link {
			margin-left: 0;
		}
	}
	.menu--active {
		transform: translateY(0);
	}
	.header__hero {
		row-gap: 50px;
	}
	.header__img-box {
		flex: 1 1 40%;
		order: 2;
	}
	.header__img  img{
		margin: 0 auto;
	}
	.nft {
		.container {
			padding-right: 0;
		}
		&__cards {
			justify-content: flex-start;
			flex-wrap: nowrap;
			overflow: hidden;
  	  		overflow-x: scroll;;
  	  		white-space:nowrap;
			gap: 25px;
		}
		&-card {
			display: inline-block;
    		vertical-align: top;
			&:last-child {
				margin-right: 15px;
			}
			&__img-box {
				width: 440px;
				img {
					object-fit: cover;
					height: 386px;
				}
			}
		}
	}
	.author {
		.container {
			padding-right: 0;
		}
	}
	.author__cards {
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow: hidden;
		overflow-x: scroll;;
		white-space:nowrap;
		gap: 25px;
	}
	.author__card {
		display: inline-block;
		vertical-align: top;
		&:last-child {
			margin-right: 15px;
		}
	}
	.footer {
		padding: 40px 0;
		&__inner {
			padding: 40px 0;
			flex-wrap: wrap;
		}
		&__info {
			max-width: 100%;
		}
		&__cols {
			justify-content: center;
		}
		&__socials {
			margin-bottom: 50px;
		}
	}
}


@media (max-width: 768px) {
	.header {
		padding-bottom: 40px;
		&__title{
			font-size: 42px;
			line-height: 57px;
		}
		&__text {
			font-size: 14px;
			line-height: 23px;
		}
	}
	.header-stats {
		&__num {
			font-size: 18px;
			line-height: 28px;
			&:not(:last-child) {
				padding-right: 40px;
				&::after {
					content: '';
					position: absolute;
					width: 1px;
					height: 44px;
					background-color: #ffffff26;
					top: 0;
					right: 0;
				}
			}
			span {
				font-size: 12px;
				line-height: 12px;
			}
		}
	}
	.nft {
		padding: 50px 0 40px;
	}
	.nft-card {
		max-width:340px;
		&__img-box {
			width: 100%;
			img {
				object-fit: cover;
				height: 270px;
			}
		}
		&__text {
			padding-top: 20px;
			padding-bottom: 10px;
		}
		&__title {
			margin-bottom: 5px;
		}
		&__author {
			font-size: 12px;
			line-height: 27px;
			max-width: 115px;	
			margin-bottom: 20px;
		}
		&__desc {
			font-size: 9px;
			line-height: 1;
		}
		&__price {
			font-size: 9px;
			span {
				font-size: 9px;
			}
		}
		&__timer-title {
			font-size: 9px;
			line-height: 27px;
		}
		&__timer-time {
			justify-content: start;
			gap: 30px;
			margin-bottom: 25px;
			p {
				font-size: 14px;
				line-height: 27px;
				span {
					font-size: 9px;
					line-height: 1;
					margin-bottom: 0;
				}
			}
		}
		&__btn {
			font-size: 14px;
			line-height: 17px;
			padding: 8px 10px;
			&::after {
				right: 15px;
			}
		}
	}
	.card {
		&__title {
			font-size: 14px;
			line-height: 27px;
		}
		&__content-desc {
			margin-right: 20px;
		}
	}
	.collection {
		padding: 40px 0;
		&__btns {
			width: 100%;
			justify-content: center;
			margin-bottom: 0;
		}
		&__btn {
			max-width: 220px;
			padding: 25px 0;
			font-size: 14px;
			line-height: 14px;
			border-width: 1px;
			&:hover {
				box-shadow: 0px 1.83204px 44.4269px rgba(255, 86, 246, 0.51);
				backdrop-filter: blur(87.9378px);
			}
		}
		&__link {
			font-size: 18px;	
			line-height: 24px;
			&::after {
				width: 40px;
				height: 20px;
			}
		}
	}
	.subscribe {
		padding-top: 245px;
	}
	.footer {
		&__inner {
			justify-content: start;
		}
		&__list {
			max-width: 200px;
			width: 100%;
			margin-bottom: 50px;
		}
		&__desc-links {
			display: flex;
			justify-content: space-evenly;
		}
		&__desc-link {
			&::before {
				display: none;
			}
			&:last-child {
				display: none;
			}
		}
	}
}


@media (max-width: 600px) {
	.header{
		&__content {
			display: flex;
			flex-direction: column;
		}
		&__title {
			max-width: 300px;
		}
		&__text {
			max-width: 315px;
		}
		&__btns {
			margin-bottom: 50px;
		}
		&__btn {
			font-size: 12px;
			line-height: 15px;
		}
		&__btn--explore {
			background-image: url(../img/mobile-header-btn.svg);
			width: 133px;
			height: 36px;
			padding: 12px 0 0 30px;
			margin-bottom: 0;
			margin-right: 20px;
			&::after {
				width: 28px;
				height: 8px;
				right: 16px;
				top: 53%;
			}
		}
		&__content-img {
			max-width: 90%;
			margin: 0 auto;
			max-width: 324px;
			display: none;
		}
		&__mobile-img {
			display: block;
		}
		&__img  {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				background-color: #FF00C7;
				filter: blur(103px);
				top:0;
				left: 0;
				width: 138px;
				height: 138px;
				z-index: -1;
			}
		}
		&__brand-img {
			&--1 {
				width: 143px;
			}
			&--2 {
				width: 92px;
			}
			&--3 {
				width: 188px;
			}
			&--4 {
				width: 106px;
			}
		}
	}
	.card-header {
		background-image: url(../img/mobile-card-bg.png);
		max-width: 324px;
		height: 175px;
		margin-top: -60px;
	}
	.card__btn {
		padding-right: 30px;
	}
	.nft__btn {
		padding-right: 30px;
	}
	.nft__btn--display {
		display: none;
	}
	.title {
		font-size: 16px;
		line-height: 20px;
	}
	.mobile-btn {
		display: block;
	}
	.collection {
		&__btns {
			column-gap: 20px;
			justify-content: flex-start;
		}
		&__btn {
			max-width: 153px;
			font-size: 11px;
			padding: 12px 0;
			margin-right: 0;
			margin-bottom: 20px;
		}
		&__link {
			margin-right: 20px;
			font-size: 9px;
			line-height: 10px;
			&::after {
				width: 22px;
				height: 7px;
				background-image: url(../img/mobile-arrow.svg);
				right: 0;
			}
		}
		&__img-box {
			max-width: 186px;
		}
	}
	.author {
		padding: 40px 0;
		.container {
			padding-right: 0;
		}
		&__inner	{
			padding: 25px;
		}
		&__card {
			max-width: 310px;
			&:last-child {
				margin-right: 15px;
			}
			img {
				max-width: 300px;
			}
		}
		&__btn {
			max-width: 180px;
			padding: 10px 32px;
			font-size: 14px;
			line-height: 18px;
		}
		&__info {
			max-width: 116px;
			margin-bottom: 15px;
			img {
				max-width: 116px;
			}
		}
		&__info-title {
			font-size: 17px;
			line-height: 24px;
		}
		&__info-nick {
			font-size: 14px;
			line-height: 32px;
			max-width: 135px;
			margin: 0 auto;
			&::after {
				right: 15px;
			}
		}
		&__stats-text {
			font-size: 22px;
			line-height: 24px;
			span {
				font-size: 14px;
			}
		}
	}
	.sellers {
		padding: 40px 0 80px;
		&__inner {
			height: 560px;
			overflow: hidden;
			gap: 15px;
			&.active {
				height: 100%;
			}
		}
		&__title {
			font-size: 20px;
			line-height: 24px;
		}
		&__text {
			font-size: 14px;
			line-height: 20px;
		}
		&__btn {
			display: none;
		}
	}
	.sellers-card {
		padding: 20px 12px 20px 20px;
		margin-bottom: 20px;
		&__num {
			font-size: 10px;
			line-height: 32px;
		}
		&__img {
			max-width: 50px;
		}
		&__name{
			font-size: 14px;
			line-height: 32px;
		}
		&__coins {
			font-size: 10px;
			line-height: 32px;
			padding-left: 15px;
			&::before {
				bottom: 0;
			}
		}
		&__stonks {
			font-size: 11px;
			line-height: 34px;
		}
	}
	.nft-info {
		padding: 40px 0;
		background-size: cover;
		height: 300px;
		&__inner {
			padding: 30px 28px 30px 40px;
			max-width: 340px;
			width: 100%;
			margin-right: auto;
			top: 80px;
		}
		&__title {
			font-size: 26px;
			line-height: 35px;
		}
		&__text {
			font-size: 12px;
			line-height: 21px;
		}
		&__btn {
			font-size: 10px;
			line-height: 16px;
		}
	}
	.subscribe {
		&__img-box {
			img {
			object-fit:cover;
			width: 340px;
			height: 380px;
			}
		}
	}
	.form {
		max-width: 340px;
		&__title {
			font-size: 26px;
			line-height: 33px;
		}
		&__text {
			font-size: 13px;
			line-height: 23px;
			margin-bottom: 35px;
		}
		&__input {
			font-size: 10px;
			line-height: 18px;
			padding: 10px 12px;
		}
		&__btn {
			font-size: 10px;
			line-height: 15px;
			padding: 10px 30px;
		}
	}
	.footer {
		&__inner {
			justify-content: center;
			padding-bottom: 0;
		}
		&__cols {
			display: block;
			max-width: 365px;
		}
		&__col {
			height: 47px;
			overflow: hidden;
			border-bottom: 1px solid #ffffff20;
			margin-bottom: 25px;
			&.active {
				height: 180px;
				border-bottom: none;
				margin-bottom: 25px;
			}
		}
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			img {
				display: block;
				height: 15px;
				width: 15px;
			}
		}
		&__list {
			max-width: 100%;
			text-align: left;
			margin-bottom: 0;
		}
		&__item {
			text-align: left;
		}
		&__line {
			display: none;
		}
		&__desc {
			flex-direction: column;
		}
		&__rights {
			order: 2;
			margin-top: 30px;
			text-align: center;
		}
	}
}


@media (max-width: 425px) {
	.sellers {
		&__inner {
			height: 530px;
			margin-bottom: 10px;
			transform: all 0.5s ease;
			&.active {
				height: 100%;
			}
		}
		&__text {
			max-width: 325px;
		}
		&__stonks {
			font-size: 11px;
			line-height: 26px;
		}
	}
	.sellers-card {
		&__box	{
			align-items: center;
		}
		&__name {
			line-height: 20px;
		}
	}
	.form {
		text-align: start;
		&__fieldset {
			justify-content: start;
		}
	}
	.footer {
		&__info {
			margin-right: 0;
		}
	}
}