%aldrich-400 {
    font-family: 'Aldrich-Regular', sans-serif;
    font-weight: 400;
}

%inter-800 {
    font-family: 'Inter-ExtraBold', sans-serif;
    font-weight: 800;
}

%inter-500 {
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
}

%inter-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}

%lato-700 {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
}

%lato-400 {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

%museo-400{
    font-family: 'MuseoModerno-Regular', sans-serif;
    font-weight: 400;
}

%orbiton-700 {
    font-family: 'Orbiton-Bold', sans-serif;
    font-weight: 700;
}

%rajdhani-600 {
    font-family: 'Rajdhani-SemiBold', sans-serif;
    font-weight: 600;
}

%rajdhani-500 {
    font-family: 'Rajdhani-Medium', sans-serif;
    font-weight: 500;
}

%rajdhani-400 {
    font-family: 'Rajdhani-Regular', sans-serif;
    font-weight: 400;
}

%roboto-500 {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}